/* ------------------------
        GENERAL 
---------------------------*/

body {
    display: flex;
    flex-direction: column;
}

/* ------------------------
        LINKS 
---------------------------*/
#search_links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#search_links a {
    padding: 5px 10px;
}

/* ------------------------
        GOOGLE LOGO 
---------------------------*/
#logo {
    display: flex;
    justify-content: center;
}

#google_logo {
    max-width: 500px;
    max-height: 400px;
}

/* ------------------------
        FORM 
---------------------------*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input_area {
    width: 60%;
    height: 37px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}