/* ------------------------
        GENERAL 
---------------------------*/

body {
    display: flex;
    flex-direction: column;
}

/* ------------------------
        LINKS 
---------------------------*/
#search_links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#search_links a {
    padding: 5px 10px;
}

/* ------------------------
        GOOGLE LOGO 
---------------------------*/
#logo {
    display: flex;
    justify-content: center;
}

#google_logo {
    max-width: 300px;
    max-height: 300px;
}

/* ------------------------
        FORM 
---------------------------*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input_area {
    width: 60%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin-bottom: 20px;
}

#submit_button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#submit_button:hover {
    border: 1px solid lightgray;
}